<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"  media="all">
<link rel="stylesheet" th:href="@{/static/layui/css/layui.mobile.css}"  media="all">
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<style type="text/css">

.field-validate-error{
    font-size:16px;
    color:red;
    display:block;
}

@media screen and (min-width: 300px) {
    
    .layui-form-label{
        display:none;
        width:0;
    }
    
    .layui-input-block{
        width:100%;
        float:clear;
        margin-left:0;
    }
    
    .layui-form-item{
        float:clear;
    }
}

</style>
<title>服务与支持 — 管理后台</title>
</head>
<body>
    
    <div style="width:auto;padding-left:20px;padding-right:20px;">
        <div class="layui-row" style="margin-top:20px;font-size:20px;font-weight:blod;">
        <span th:text="${session.loginUser?.userName}" />，你好！
        <hr>
        <span>服务与支持</span>
        <table class="layui-table">
            <tr>
             <td>
                <a class="jump" th:href="@{/support/index?target=customerList}">
                    <i class="layui-icon layui-icon-triangle-r"></i>&nbsp;客户投诉建议  
                </a>
             </td>
            </tr>
        </table>
        <ul>
            <li>
                
            </li>
        </ul>
    </div>
    </div>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
        <script th:inline="javascript">
            var modulesPath = /*[[@{/static/js/modules/}]]*/'/static/js/modules/';
            var jsVersion=[[${jsVersion}]];
            layui.config({
                base : modulesPath
                ,version : jsVersion
            //你存放新模块的目录，注意，不是layui的模块目录
            }).use('supportIndex'); //加载入口
        </script>
</body>
</html>