<html>
<head>
<style type="text/css">

</style>
<title>iData服务与支持——问题反馈</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"  media="all">
<link rel="stylesheet" th:href="@{/static/layui/css/layui.mobile.css}"  media="all">
<style type="text/css">

.layui-form{

}

.layui-form-label{
/*     width:15%; */
}
.layui-input-block{

}

.small-screen{
        display:none;
}

.upload-attachment{
    display:block;
    margin-bottom:10px;
}

.layui-icon-delete{
    font-size:18px;
}

@media screen and (min-width: 300px) {
    .layui-form-label{
        display:none;
        width:0;
    }
    
    .layui-input-block{
        width:100%;
        float:clear;
        margin-left:0;
    }
    
    .layui-form-item{
        float:clear;
    }
    
    .small-screen{
        display:inline;
        padding-top:10px;
    }
}
</style>
</head>
<body style="">
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- background-color:#F1FAFA#F5F5F5; -->
<!-- class="layui-bg-gray" -->
		<div style="padding:10px;padding-top:20px;" class="layui-bg-gray">
                    <div class="layui-row" style="text-align:center;">
                        <span style="font-size: 20px; font-weight: 300;">问题反馈</span>
                        <hr style="color: #aaa;">
                    </div>
                    <div class="layui-row">
                        <form class="layui-form"
                            method="post" name="suggestionForm" lay-filter="suggestionFormFilter">
                                                        
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color:red;">*</span>问题类型:</label>
                                <div class="layui-input-block">
                                  <select name="category" lay-verify="required" placeholder="选择问题类型">
                                    <option value="">问题类型</option>
                                    <option value="触屏无反应">1、触屏无反应</option>
                                    <option value="自动重启">2、自动重启</option>
                                    <option value="不充电">3、不充电</option>
                                    <option value="扫描不出光">4、扫描不出光</option>
                                    <option value="无法开机">5、无法开机</option>
                                    <option value="其他">6、其他</option>
                                  </select>
                                </div>
                             </div>
                             <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label"><span style="color:red;">*</span>不良数量:</label>
                                <div class="layui-input-block">
                                  <input type="text" name="deviceNumber" placeholder="不良数量"  lay-verify="required|number" 
                                            value="1"  autocomplete="off" class="layui-input" style="width:30%;display:inline;">
                                  <span style="display:inline;">台</span><span style="display:inline;" class="layui-word-aux">（设备数量）</span>
                                </div>
                             </div>
                             <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label"><span style="color:red;">*</span>问题描述:</label>
                                <div class="layui-input-block">
                                  <textarea name="desc" lay-verify="required" placeholder="问题描述" class="layui-textarea"></textarea>
                                </div>
                             </div>
                             
                             <div class="layui-form-item">
                                <label class="layui-form-label">
                                 <span style="color:red;">*</span>联系人:
                                </label>
                                <div class="layui-input-block">
                                  <input type="text" name="contact" placeholder="联系人" lay-verify="required"  autocomplete="off" class="layui-input">
                                </div>
                            </div>
                             
                             <div class="layui-form-item" style="margin-bottom:0;padding-bottom:0;">
                                <label class="layui-form-label">
                                 <span style="color:red;">*</span>手机号:
                                </label>
                                <div class="layui-input-block">
                                  <input type="text" name="phoneNumber" placeholder="手机号"  lay-verify="required|phone"  autocomplete="off" class="layui-input">
                                </div>
                                
<!--                                 <div class="layui-input-block layui-word-aux"> -->
<!--                                                                     紧急情况时，工程师会与您电话联系， <span style="color:red;">请填写正确手机号</span> ! -->
<!--                                 </div> -->
                            </div>
                             
                             <div class="layui-form-item">
                                <label class="layui-form-label">
                                 <span style="color:red;">*</span>上传附件:
                                </label>
                                <div class="layui-input-block" name="uploadAttachmentList" style="">
                                </div>
                                <div class="layui-input-block">
                                    <a class="layui-btn layui-btn-primary layui-show" lay-data="{accept: 'file'}" id="uploadAttchmentButton">
                                        <i class="layui-icon">&#xe608;</i>上传附件
                                    </a>
                                </div>
                                <div class="layui-input-block layui-text">
                                  <div class='layui-word-aux'>最多上传&nbsp;<span style="color:red;">9个</span>附件&nbsp;&nbsp;可上传：<span style="color:red;" name="remainAmount">9</span>个</div>
                                  <div class='layui-word-aux' style="word-break:break-all;">
                                                                        附件说明：
                                    <ul>
                                        <li>电池内仓照片</li>
                                        <li>外箱批次号照片</li>
                                        <li>设备异常视频</li>
                                    </ul>
                                  </div>
                                </div>
                            </div>
                            
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                  <button class="layui-btn layui-btn-fluid"  lay-submit lay-filter="suggestionSubmitFilter">立即提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
	
	<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{http://res.wx.qq.com/open/js/jweixin-1.4.0.js}"></script>
	<script th:inline="javascript">
	
// 	   layui.extend({
// 	       jweixin: '{/}http://res.wx.qq.com/open/js/jweixin-1.4.0' // {/}的意思即代表采用自有路径，即不跟随 base 路径
// 	   })
	   
	    var modulesPath = /*[[@{/static/js/modules/}]]*/ '/static/js/modules/';
	    var jsVersion=[[${jsVersion}]];
        layui.config({
            base : modulesPath //你存放新模块的目录，注意，不是layui的模块目录
            ,version : jsVersion
        }).use('customerSuggestion'); //加载入口
    </script>
</body>
</html>