<!DOCTYPE html>
<html layout:decorator="/layout">
<head>
</head>
<body class="layui-layout-body">
    <div layout:fragment="content">
      <h1>深圳盈达售后服务系统</h1>
      <hr>
      <span>当前版本：V1.1.0</span>
    </div>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            var modulesPath = /*[[@{/static/js/modules/}]]*/'/static/js/modules/';
            var jsVersion=[[${jsVersion}]];
            layui.config({
                base : modulesPath
                ,version : jsVersion
            //你存放新模块的目录，注意，不是layui的模块目录
            }).use('userAboutSystem'); //加载入口
        </script>
    </th:block>
</body>
</html>